*{
  margin:0;
  padding:0;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height:100vh;
  background:linear-gradient(to right, blue, skyBlue);
  text-align: center;
}
.App h1{
  color: chocolate;
  letter-spacing: 5px;
  font-size: 42px;
}
